body {
    color:aqua;
    background-color: aquamarine;
}
head
{
    color: aqua;
    background-color: aqua;
}
label
{
    color: aqua;
    background-color: aqua;
}
button
{
    color: aqua;
    background-color: aqua;

}
